:root {
  --primary-color-500: #9ca3af;
  --primary-color-900: hsla(215, 28%, 17%, 0.5);
  --accent-color-100: #fbbf24;
  --accent-color-500: #d97706;
  --accent-color-900: #92400e;
  --footer-color-600: hsla(0, 88%, 13%, 0.85);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html{
  height:100%;
}

body {
  height: 100%;
  background-image: url("images/drums-bg\ image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-color-500);
  position: relative; 
}

.container {
  min-height: 100%;
  margin-bottom: -2.5rem; /*equal to height of footer*/
}

.container::after {
  content: "";
  display: block;
  height: 2.5rem;
}

.heading {
  color: var(--accent-color-100);
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}

.switches {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  max-width: 80vw;
  margin: 2rem auto;
  background-color: var(--primary-color-900);
}

.key {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 900;
  display: inline-block; /*cannot apply transform to inline elements*/
  padding: 1.5rem;
  margin: 1.25rem 1rem;
  max-width: 5rem;
  color: var(--accent-color-500);
  background-color: var(--primary-color-900);
  border: 3px solid var(--primary-color-900);
  transition: transform 0.1s;
  z-index: 1;
  cursor: pointer;
}

.key p {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  color: var(--accent-color-100);
}

.playing {
  transform: scale(1.1);
  border: 2px solid var(--accent-color-100);
  box-shadow: 0 0 5px #fbbf24;
}

footer {
  height: 2.5rem;
  background-color: var(--footer-color-600);
  color: rgb(236, 236, 236);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: 10px;
}

@media screen and (max-width: 700px) {
  body {
    background-position: 30% 0%;
  }

  .heading {
    font-size: 2rem;
  }

  .switches {
    margin: 3rem auto;
  }

  .key {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0.5rem;
  }
}
